<div class="map" id="map"></div>
<script>

    let eLocation = document.getElementById('latLng').value;
    let eLocParse = {  };
        eLocParse.lat = JSON.parse(eLocation).lat;
        eLocParse.lng = JSON.parse(eLocation).lng;



    mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyaXNhYnUzcnJhbSIsImEiOiJja2g5amhubnIwdXV4MnhucWI5cWsyYnh4In0.9yGExLwa7ctqJAtqxTIZBA';
    var map = new mapboxgl.Map({
        container: 'map',
        zoom: 16,
        center: [eLocParse.lng, eLocParse.lat],
        style: 'mapbox://styles/farisabu3rram/ckhay9fye02vd19pjcxs5bl3k'
    });
    var marker = new mapboxgl.Marker()
        .setLngLat([eLocParse.lng, eLocParse.lat])
        .addTo(map);
   

   
</script>