<div class="homemap" id="map"></div>
<link href="/scss/maphome.css" rel="stylesheet">
<script>
    const all = document.getElementById('allplaces').value;
    const places = JSON.parse(all);


    mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyaXNhYnUzcnJhbSIsImEiOiJja2g5amhubnIwdXV4MnhucWI5cWsyYnh4In0.9yGExLwa7ctqJAtqxTIZBA';
    var map = new mapboxgl.Map({
        container: 'map',
        zoom: 16,
        center: [35.16793370246888, 31.689010739990746],
        style: 'mapbox://styles/farisabu3rram/ckhay9fye02vd19pjcxs5bl3k'
    });
    for (let i = 0; i < places.length; i++) {
        var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
            `<div >
                <div>
                    ${places[i].name}
                 </div>
                  <div>
                    ${places[i].about}
                 </div>`
        );
        var marker = new mapboxgl.Marker()
            .setLngLat([places[i].lng, places[i].lat])
            .setPopup(popup)
            
            .addTo(map);
    }


</script>