<div class="map" id="map"></div>
<script>

    let eLocation = document.getElementById('latLng').value;
    let eLocParse = {
        lat: 31.689951052514033,
        lng: 35.16871690750338
    };
    if (eLocation!=' none ') {
        eLocParse.lat = JSON.parse(eLocation).lat;
        eLocParse.lng = JSON.parse(eLocation).lng;
    }



    mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyaXNhYnUzcnJhbSIsImEiOiJja2g5amhubnIwdXV4MnhucWI5cWsyYnh4In0.9yGExLwa7ctqJAtqxTIZBA';
    var map = new mapboxgl.Map({
        container: 'map',
        zoom: 16,
        center: [eLocParse.lng, eLocParse.lat],
        style: 'mapbox://styles/farisabu3rram/ckhay9fye02vd19pjcxs5bl3k'
    });
    var marker = new mapboxgl.Marker()
        .setLngLat([eLocParse.lng, eLocParse.lat])
        .addTo(map);
    let loc = {
        lat: eLocParse.lat,
        lng: eLocParse.lng
    }
    document.getElementById('latLng').value = JSON.stringify(loc);

    map.on('click', function (e) {
        marker.remove()
        latlng = e.lngLat.wrap();
        marker = new mapboxgl.Marker()
            .setLngLat([latlng.lng, latlng.lat])
            .addTo(map);
        loc.lat = latlng.lat;
        loc.lng = latlng.lng;
        document.getElementById('latLng').value = JSON.stringify(loc);
    });
</script>