<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
        data-class="c-sidebar-show">
        <svg class="c-icon c-icon-lg">
            <use xlink:href="/coreui/vendors/icons/svg/free.svg#cil-menu"></use>
        </svg>
    </button><a class="c-header-brand d-lg-none" href="#">
        <svg width="118" height="46" alt="CoreUI Logo">
            <use xlink:href="/coreui/assets/brand/coreui.svg#full"></use>
        </svg></a>
    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
        data-class="c-sidebar-lg-show" responsive="true">
        <svg class="c-icon c-icon-lg">
            <use xlink:href="/coreui/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
        </svg>
    </button>
    <h2 style="padding-left:700px; padding-top:10px">برك سليمان</h2>
    <ul class="c-header-nav ml-auto mr-4">
            
        <li class="c-header-nav-item d-md-down-none mx-2">
            <a class="c-header-nav-link" href="#">
              
            </a</li>
        <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                <div class="c-avatar"><img class="c-avatar-img" src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png" alt="user@email.com">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right pt-0">
                
                <a class="dropdown-item"
                    href="/profile">
                    <svg class="c-icon mr-2">
                        <use xlink:href="/coreui/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                    </svg> Profile</a>
                    
                    <a class="dropdown-item" href="/logout">
                    <svg class="c-icon mr-2">
                        <use xlink:href="/coreui/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                    </svg> Logout</a>
            </div>
        </li>
    </ul>
</header>
